@using Sistema_gestion_tareas.Server.Models
@model Tarea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTarea">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
